.page-login {
    max-width: 350px;
    margin: auto;
}
.rounded-full {
    border-radius: 30rem;
}
.page-login-header {
    color: #4d35fe;
    .login-panel-title {
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 700;
    }
}